<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">    
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <title>Text Summarization</title>
    </head>
    <body>
        <center>
        <div class="ml-container">
            <br>
            <h4>Enter a text for summarization:</h4>
            <form role="form" method='POST' action='/process'>
                <div class="form-group">
                    <textarea type="text"
                              name="text"
                              class="form-control"
                              id="url-box"
                              style="max-width: 600px;">
                    </textarea>
                    <br>
                    <input type="text" 
                        name="number"
                        class="form-control"
                        id="url-box"
                        placeholder="Enter a number of sentences in a summary"
                        style="max-width: 600px;">
                    <br>
                </div>
                <button type="reset" class="btn btn-primary"><i class="fa fa-eraser"></i> Clear</button>
                <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Summarize</button>
            </form>
        </div>
        <br>
        <div class="container">
            <div class="alert alert-success" role="alert">
                <h4>Summary:</h4>
                <ul>{{result}}</ul>
            </div>
        </div>
        </center>
    </body>
</html>